* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'montserrat';
}

body {
    background-color: #333;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.card {
    width: 340px;
    height: 480px;
    cursor: pointer;
}

.back, .front {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.6s linear;
}

.front img {
    height: 100%;
    margin-left: -80px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-color: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
}

.back_content {
    color: #2c3e50;
    text-align: center;
    width: 100%;
}

.icons img {
    margin: 30px 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    
}

.icons img:hover {
    background-color: #9ba0a5;
    color: #fff;
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0deg);
}


